.kanban_stage_container {
  display: flex;
  flex-direction: row;
}

.kanban_controls {
  width: 100%;
  background-color: #eef2fb
}

.kanban_controls .edit_card {
  padding: 10px;
}

.add_card {
  padding: 10px;
}

.edit_card {
  padding: 10px;
}

button {
  cursor: pointer;
}